/detection_product_version2.zip
/detection_product_version3_office.zip
/detection_product_version3.zip
/kitti_version2_416_single.zip
/kitti_version2_416.zip
/kitti_version3_416_single.zip
/kitti_version3_416.zip
/kitti_version3_office_416_single.zip
